<html>
    <head>
        <title>findablock.com - mine in your browser. while looking at it.</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <link rel="stylesheet" type="text/css" href="/static/tutorial.css" />
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript" src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/sha256.js"></script>
        <script type="text/javascript" src="/static/BigInt.js"></script>
        <script type="text/javascript" src="/static/memorypool.js"></script>
        <script type="text/javascript" src="/static/blockstuff.js"></script>
    </head>
    <body>
        <div align="right"><button class="button" id="testbtn">The infamous test button</button></div><br>
        <div align="center">
	        <button class="button" id="getblockdata">Get block data</button>
	        <button class="button" onclick="clearText();">Clear</button><br><br>
	        <button class="button" id="doit">Start hashing!</button>
	        <button class="button" onclick="hash_clock=window.clearInterval(hash_clock);rate_clock=window.clearInterval(rate_clock)">Stop hashing!</button><br>
	        <br>
        </div>
            
        <table>    
			<tr><td align="center" colspan="2"><span class="header">Block header</span></td></tr>
	    	<tr><td>
			    <table class="subtable">
			        <tr><td>Version:</td><td> <input class="monospace" id="version" type="text" size="8" value=""></td></tr>
			        <tr><td>Previous block hash:</td><td> <input class="monospace" id="prev_hash" type="text" size="64" value=""></td></tr>
			        <tr><td>Transaction list Merkle root:</td><td> <input class="monospace" id="merkle_root" type="text" size="64" value=""></td></tr>
			        <tr><td>Timestamp:</td><td> <input class="monospace" id="timestamp" type="text" size="8" value="c7f5d74d"> <span id="human_time"></span></td></tr>
			        <tr><td>Current target in compact format:</td><td> <input class="monospace" id="target" type="text" size="8" value=""></td></tr>
			        <tr><td>Nonce:</td><td> <input class="monospace" id="nonce" type="text" size="8" value=""></td></tr>
			    </table>
			</td></tr>
			<tr><td>
			    <table>
			        <tr><td>Block hash:</td><td> <input class="monospace" id="block_hash" type="text" size="64" value=""></td></tr>
			        <tr><td>Hashing speed:</td> <td><span id="hash_rate">0 hashes/sec</span></td></tr>
			        <tr><td>Average time to find a block:</td> <td><span id="time_left"></span></td></tr>
			        <tr><td>Smallest hash found:</td><td> <input class="monospace" id="sm_hash" type="text" size="64" value=""></td></tr>
			        <tr><td>Target hash:</td><td> <input class="monospace" id="target_hash" type="text" size="64" value="" readonly="readonly"></td></tr>
			        <tr><td>Receive address:</td><td> <input id="recv_addr" type="text" size="34" value="1L4fyJqCy5uLmoMo4cG74TaTvgtUwwSHJx"></td></tr>
		        </table>
		    </td></tr>
		</table>
        <div align="center"><font color="green" size="14"><span id="success"></span></font></div><br><br><br>
        <span id="block_data"></span>
    </body> 
</html>